.header{
background-image: url(../photo/mountin.webp) ;
min-height: 900px;
min-width: 100%;
background-repeat: no-repeat;
background-size: cover;
}

body{
    padding: 0%;
    margin: 0%;
}

h1{
    color: #FFF;
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 150px;

    text-align: center;
    padding-top: 23%;
}

button{
    border-radius: 30px;
    background: #FFF;
    width: 138px;
    height: 31px;
    border: none;
    margin-left: 67%;
}

.img-inff{
 display: flex;
 justify-content: right;
}