.header {
    background-image: url(../photo/mountin.webp);
    min-height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.header-text {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 150px;
    font-weight: 400;
    margin: 0;
    padding-top: 23%;
}

.header-btn {
    border-radius: 30px;
    background: #FFF;
    width: 138px;
    height: 31px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.content{
    display: flex;

}

.img{
    width: 100%;
    
}


.info{
    margin-left: 7%;
   margin-top: 10%;
   margin-bottom: 10%;
}



.info-title{
    color: #A68989;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info-text{
    color: #8F5C5C;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.inf-tex{
    color: #6A4444;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    list-style: none;
    margin-left: -7%;
}

.inf-teg{
    color: #785959;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    list-style: none;
}

.contentt{
    background-image: url(../photo/straw.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15%;
    width: 1200px;
    height:700px ;

    
}

.hero{
    text-align: center;
    padding-top: 12%;
    padding-left: 10%;
}

.hero2{
    display: flex;
    justify-content: center;
    
}


.hero-title{
    color: #EE6363;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-text{
    color: #977171;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-left: 20%;
    margin-top: -7%;
}

.footer{
    background-color: #785959;
    padding-bottom: 5px;
}

.ikons{
    font-size: 30px;
    list-style: none;
    display: flex;
    gap: 20px;

}

 .ikko{
    align-items: center;
 }